.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justifyandalign{
    justify-content: center;
    align-items: center;
}

.bigsize{
    font-size: 50px;
}
.gap-20{
    gap: 20px;
}
.gap-10{
    gap: 10px;
}
.gap-5{
    gap: 5px;
}
.gap-40{
    gap: 40px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.white{
    background-color: rgb(252, 252, 252);
}

.border{
    border: solid black 2px;
    border-radius: 10px;
}

.grey{
    background-color:  rgb(0, 0, 0);;
}

.pos-relative{
    position: relative;
}